{
  "device_name" : "{{ rslsync_device_name }}",
  "listening_port" : {{ rslsync_listening_port }},
  "storage_path" : "{{ rslsync_storage_path }}",
  "pid_file" : "{{ rslsync_pid_file }}",
  "use_upnp" : {{ rslsync_use_upnp|lower }},
  "download_limit" : {{ rslsync_download_limit }},
  "upload_limit" : {{ rslsync_upload_limit }},
  "directory_root" : "{{ rslsync_directory_root }}",
  "directory_root_policy" : "{{ rslsync_directory_root_policy }}",
{% if rslsync_shared_folders is defined %}
  "shared_folders" :
  [
{%   for sf in rslsync_shared_folders %}
{%     if sf.dir is defined and sf.known_hosts is defined %}
    {
{%       for known_host in sf.known_hosts %}
{%         if known_host.name == inventory_hostname %}
      "secret" : "{{ known_host.secret }}",
{%         endif %}
{%       endfor %}
      "dir" : "{{ sf.dir }}",
      "use_relay_server" : {{ sf.use_relay_server|lower if sf.use_relay_server is defined and not sf.use_relay_server else 'true' }},
      "use_tracker" : {{ sf.use_tracker|lower if sf.use_tracker is defined and not sf.use_tracker else 'true' }},
      "search_lan" : {{ sf.search_lan|lower if sf.search_lan is defined and not sf.search_lan else 'true' }},
      "use_sync_trash" : {{ sf.use_sync_trash|lower if sf.use_sync_trash is defined and not sf.use_sync_trash else 'true' }},
      "overwrite_changes" : {{ sf.overwrite_changes|lower if sf.overwrite_changes is defined and sf.overwrite_changes else 'false' }},
      "selective_sync" : {{ sf.selective_sync|lower if sf.selective_sync is defined and sf.selective_sync else 'false' }},
      "known_hosts" :
      [
{%       set x = 1 %}
{%       for known_host in sf.known_hosts %}
{%         if known_host.name != inventory_hostname %}
{%            set x = x + 1 %}
        "{{ known_host.name }}:{{ known_host.port }}"{% if x < loop.length %},{% endif %}

{%         endif %}
{%       endfor %}
      ]
    }{% if not loop.last %},{% endif %}

{%     endif %}
{%   endfor %}
  ]
{% endif %}
}
